<html data-ng-app="C9">
<head>
<link rel="stylesheet" type="text/css" href="css/ng-grid.min.css" />

<link href='https://fonts.googleapis.com/css?family=Roboto:100,400' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

<script src='http://code.jquery.com/jquery-1.10.2.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

<!-- <script src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js'></script> -->
<script src="js3rdparty/bootstrap.js"></script>
<script src='js3rdparty/ng-grid-2.0.6.min.js'></script>

<title>Simple SQL Executor</title>

<style>
body {
	font-family: 'Roboto', sans-serif;
}

/*style.css*/
.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	height: 400px
}

.sqlBlock {
	height: 200px;
	width: 800px
}
</style>
</head>

<body>

	<div class="container-fluid">

		<div class="tabbable">

			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#api">Klipfolio API</a></li>
				<li><a href="#sql">SQL</a></li>
				<li><a href="#eb">EventBus</a></li>
				<li><a href="#provision">Provision</a></li>
			</ul>

			<div class="tab-content">
				<!-- Start Klipfolio API -->
				<div class="tab-pane active" id="api">
					<div data-ng-controller="C9KlipfolioController">
						<form class="form-stacked">
							<div>Check Data in Klipfolio API</div>
							<input type="text" data-ng-model="clientId" />
							<select data-ng-model="klipfolioResource" data-ng-options="r for r in klipfolioResources"></select> 
							<input type="submit" id="creatTopicListener" data-ng-click="executeAPI()" value="Execute API" />
							<h4>
								<strong data-ng-bind="status"></strong>
							</h4>
							<div class="gridStyle" data-ng-grid="gridOptions"></div>
							<div>{{details}}</div>
						</form>
						
						<form class="form-stacked">
						  <input type="text" data-ng-model="datasourceId"/>
						  <input type="submit" data-ng-click="refreshDatasource()" value="Refresh"/>
						</form>
					</div>
				</div>
				<div class="tab-pane" id="sql">
					<div data-ng-controller="C9Controller">
						<div class="content">
							<form class="form-stacked">
								<label for="partition">Partition</label> <input type="text"
									id="partition" data-ng-model="partition"
									value="00D300000006RmSEAU" />
								<label>Action</label>	
								<input type="radio" name="action" value="select" data-ng-model="action"/>Select</br/>
                                <input type="radio" name="action" value="reconnect" data-ng-model="action"/>Reinitialize Connection</br/>
								<textarea id="sql" class="sqlBlock" data-ng-model="sql">select * from security.User</textarea>
								<input type="submit" data-ng-click="executeSql()" value="Execute" />
								<h4>
									<strong data-ng-bind="status" data-ng-show="!executing"></strong>
								</h4>
							</form>
							<div>
								<h4>
									Returned rows : <strong data-ng-bind="totalRows()"></strong>
								</h4>
							</div>
							<div class="gridStyle" data-ng-grid="gridOptions"></div>
						</div>
					</div>
				</div>
				
				<div class="tab-pane" id="eb">
                    <div data-ng-controller="EBController">
                        <form class="form-stacked">
                            <div>Check Data in Klipfolio API</div>
                            <input type="text" data-ng-model="address" />
                            <div data-ng-repeat="add in addresses">{{add}}</div>
                            <textarea id="msg" class="sqlBlock" data-ng-model="msg"></textarea>
                            <input type="submit" data-ng-click="sendMessage()" value="Send"/>
                            <div data-ng-model="results"></div>
                        </form>
                    </div>
                </div>
                
                <div class="tab-pane" id="provision">

                    <div data-ng-controller="CtlActiveInsight">
                        <input type="text" data-ng-model="partitionId" />
                        <button data-ng-click="provision()">Get Customer Info</button>
                        
	                    <h4>Customer Info :</h4>
	                    <div class="gridStyle" data-ng-grid="gridOptions"></div>
                    
                    </div>

                </div>
			</div>
		</div>
	</div>
	
</body>

<script>
  $(function () {
    $('#myTab a:first').tab('show');
  })
  
  $('#myTab a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>

<script src='js3rdparty/sockjs-min-0.3.4.js'></script>
<!-- <script src='js3rdparty/angular-1.0.1.js'></script> -->

<script src='js/vertxbus.js'></script>
<script src='js/app.js'></script>
<script src='js/services.js'></script>
<script src='js/controllers.js'></script>

</html>